.cache
essential
kubejs
ldlib
local
logs
moonlight-global-datapacks
saves
screenshots
patchouli_books
xaero
EffekseerNativeForJava.dll
patchouli_data.json
rhino.local.propertes
L_Enders_Cataclysm-3.16.jar
schematics
crash-reports